[Unit]
Description=Owl Network Configure Server

[Service]
User=root
ExecStart=/bin/bash /etc/owl/net-server/net-start.sh
Type=idle
KillMode=control-group
Restart=always

[Install]
WantedBy=multi-user.target
Alias=owl-network.service