[Unit]
Description=Owl Terminal Server

[Service]
ExecStartPre=/usr/bin/python3 /etc/owl/owl_terminal_configure.py
ExecStart=/usr/bin/OwlAccessTerminal -c /etc/owl/owl_terminal_config.json
Type=idle
KillMode=control-group
Restart=always

[Install]
WantedBy=multi-user.target
Alias=owl.service